[couchbase-server]
title=Couchbase Server Database
description=Couchbase Server is a NoSQL document database
ports=4369,{{ couchbase_server.admin_port }},{{ couchbase_server.api_port }},{{ couchbase_server.internal_ports }},{{couchbase_server.node_data_ports}}/tcp